.flexcard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    width: 400px;
    height: 450px;
    border-radius: 5px;
    border-color: rgb(26, 26, 26);
    border-style: groove;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flexcard:hover{
    box-shadow: 0 0 20px rgb(63, 221, 0);
    transform: scale(1.02);
    transition: all 0.2s ease;
}

img{
    width: 320px;
    height: 320px;
}
